In [409]:
import kagglehub
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [410]:
##path = kagglehub.dataset_download("mahmoudelhemaly/students-grading-dataset")
## print("Path to dataset files:", path)
#Download ja foi feito na 1a execução. Como o dataset ja esta na maquina, não a porque executá-lo sempre
data = pd.read_csv(r"c:\\Users\\Usuario\\.cache\\kagglehub\\datasets\\mahmoudelhemaly\\students-grading-dataset\\versions\\5\\Students Performance Dataset.csv")

In [411]:
data.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5

In [412]:
list(data.columns)

['Student_ID',
 'First_Name',
 'Last_Name',
 'Email',
 'Gender',
 'Age',
 'Department',
 'Attendance (%)',
 'Midterm_Score',
 'Final_Score',
 'Assignments_Avg',
 'Quizzes_Avg',
 'Participation_Score',
 'Projects_Score',
 'Total_Score',
 'Grade',
 'Study_Hours_per_Week',
 'Extracurricular_Activities',
 'Internet_Access_at_Home',
 'Parent_Education_Level',
 'Family_Income_Level',
 'Stress_Level (1-10)',
 'Sleep_Hours_per_Night']

In [413]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              5000 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             5000 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      3975 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB

In [414]:
data.isnull().sum()

Student_ID                       0
First_Name                       0
Last_Name                        0
Email                            0
Gender                           0
Age                              0
Department                       0
Attendance (%)                   0
Midterm_Score                    0
Final_Score                      0
Assignments_Avg                  0
Quizzes_Avg                      0
Participation_Score              0
Projects_Score                   0
Total_Score                      0
Grade                            0
Study_Hours_per_Week             0
Extracurricular_Activities       0
Internet_Access_at_Home          0
Parent_Education_Level        1025
Family_Income_Level              0
Stress_Level (1-10)              0
Sleep_Hours_per_Night            0
dtype: int64

In [415]:
#Verificando se os valores nulos fazem sentido ou se causam distorções que vão prejudicar a análise

In [416]:
ambas_nulas = data[data['Attendance (%)'].isnull() & data['Assignments_Avg'].isnull()]
print(f"Alunos com 0 de presença e de nota de trabalho: {len(ambas_nulas)}")

Alunos com 0 de presença e de nota de trabalho: 0

In [417]:
reprovados_sem_presença = data[(data['Attendance (%)'].isnull()) & (data['Grade'] == 'F') & (data['Total_Score'] <= 60)]
print(f"Alunos reprovados e sem presença: {len(reprovados_sem_presença)}")

Alunos reprovados e sem presença: 0

In [418]:
sem_presença = data[data['Attendance (%)'].isnull()]
media_nota_sem_presença = sem_presença['Total_Score'].mean()
print(f"Média de nota dos alunos sem presença: {media_nota_sem_presença:.2f}")

Média de nota dos alunos sem presença: nan

In [419]:
alunos_A = data[data['Grade'] == 'A']
print(f"Alunos com nota A: {len(alunos_A)}")
media_A = alunos_A['Total_Score'].mean()
print(f"Média de nota dos alunos com A: {media_A:.2f}")

Alunos com nota A: 16
Média de nota dos alunos com A: 91.28